
a,a:hover,a:visited{text-decoration:none;}
::selection{color:#007bbe; background:#ff4539;}
pre,code{margin:0;padding:0;}
hr{border-style:solid; border-color:#007bbe;border-width:3px;}

h1, h2,h3,h4,p, blockquote, td, li{font-size: 1.2em; font-weight: 600;line-height: 1.7; color:#000000; word-break: keep-all;
letter-spacing: -0.5px;word-spacing: 1px;}

p{font-size: 1.2em; font-weight: 600;line-height: 1.7; color:black; word-break: keep-all;
letter-spacing: -0.5px;word-spacing: 1px;}



li{line-height: 2em; list-style-type: circle; list-style-position: outside;padding-left: 0.15em;}
img{width:100%;}

mark{background: none;}
.orange{background-color:#007bbe; color: #ffffff; }
em{border-bottom:1px solid #333; height:1.5em; display:inline-block;}
.eng{}
body{background: #DDD}
canvas{ width:500px; height:500px;}

/*-------怨듯넻�ㅼ젙 ��----*/


header{width:100%;background: #007bbe;height:44px;text-align: left;
	position:fixed;left:0px;top:0px;overflow:hidden; z-index: 3;
	
	-webkit-transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#hiddenInput { display:none; }

.line{width:26px; height:2px; background:white;position:absolute; left:9px;
	
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);

	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

#topLine{margin-top: 16px}
#bottomLine{margin-top:23px;}
label{display: none;width:44px; height:44px; background: none;position:absolute;left:0;top:0;z-index: 9999;}

header #hiddenInput:checked + label #topLine{
-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);margin-top:21px;
}    

header #hiddenInput:checked + label #bottomLine{
-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);margin-top: 21px;
}

nav {width:800px;margin:0 auto;}
nav a{float:left;font-size:0.9em;width:20%;color:white;height:44px;line-height: 44px;text-align: center;color:white;letter-spacing: 0px;}
nav a:hover{opacity: 0.5; transition: opacity 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);}

main {width:100%;padding-top: 20px;background: #ffffff;}

.mainCopy{ display:block;width:100%;height:800px;background: #007bbe;padding-top: 44px;margin-top:0px;margin-bottom: 0px;}
h1{padding:0;font-size:2em; color:#ffffff; font-weight: 200; text-align: center; letter-spacing: 0px; padding-bottom: 1.8em;}
h3{font-family: 'East Sea Dokdo', cursive; padding:0;font-size:7em; color:#ffffff; font-weight: 200; text-align: center; letter-spacing: 0px; padding-bottom: 0em;}

figure{width:100%; height:30px; background-position: 0px 0px;}


#main01{background: url('../img/main01.jpg'); background-size: 100% auto }
#main02{background: url('../img/main06.jpg'); background-size: 100% auto }
#main07{background: url('../img/main07.jpg'); background-size: 100% auto; height: 450px; }


#main03{background: url('../img/main02.jpg'); background-size: 100% auto; height:390px; }
#main08{background: url('../img/main12.jpg'); background-size: 100% auto; height:390px; }
#main06{background: url('../img/main04.jpg'); background-size: 100% auto; height:450px; }


#main04{background: url('../img/main05.jpg'); background-size: 100% auto; height:338px; }
#main10{background: url('../img/main10.jpg'); background-size: 100% auto; height:500px; }
#main05{background: url('../img/main08.jpg'); background-size: 100% auto }


article{clear:both;width:800px;height: 700px;margin:0 auto; margin-top:44px;margin-bottom: 0px;}

article p,article h2, article h4, article ul{padding-left:calc(200px + 1em);padding-right:1em;padding-top: 1em}

article h2{color:#007bbe; font-weight: 700;}
article h4{font-size:1.5em; color:#007bbe; font-weight: 700; padding-top: 2em; padding-bottom: 2em;}

article blockquote{color:blue;padding: 0px 5em;}

article table{width:calc(100% - 200px - 1em);margin-left:calc(200px + 1em);margin-top:1em;}
article table tr{height: 2em;}
article table tr:last-child{border-bottom:1px solid black;}
article table tr:first-child{border-top:1px solid black;}
article table th{font-weight:700;text-align: left;border-top:1px solid black;line-height: 1.6em;padding:0.5em 0.2em; }
article table td{padding:0.5em 1em 0.5em 0.2em; font-size: 1em;}

footer{clear:both;width:800px;margin:0 auto;height:100px;padding-top:44px;text-align: left;margin-bottom: 200px; background-color: #ffffff;}
footer hr{margin:calc(44px - 1em) 0px;}

footer p{font-size: 1em; font-weight: 700}



.col1{width:calc(200px - 2em);float:left;padding:0px 1em;}
.col2{width:calc(600px - 2em);float:left;padding:0px 1em;}

.links{ color:black; font-weight:700; height:1.5em;display: inline-block;}
.links:hover { color:#007bbe; border-bottom:1px solid #002544;}


/* article�� */
article.mainCopy p.author { color:white; text-align:center; padding:0;padding-bottom: 1em; }
article.blog{padding-top: 2em;}
article.blog img{margin:3em 0em 4em;}
article.blog h1{margin-top: 2em;}
article.blog p{ letter-spacing: -0.5px; line-height: 1.8;}
article.blog mark{ background:#ffff00;color:#007bbe; }
article.blog em{ color:#333; border-bottom:2px solid #333; height:1.4em; font-weight: 700}
article.blog blockquote{ font-weight: 400; width:18em; float:left; font-weight: 700; padding-left: 8em; padding-right: 1em; padding-bottom: 1em; padding-top: 16px; font-size: 20px;}

/* Mobile */
@media all
  and (max-width: 600px){
  	header{float:left;}
  	header label{display:block;}
  	nav{width:100%;} nav a{width: 100%;}
  	main{float:left;margin-top: 0px;}
  	.mainCopy {padding-top: 44px;}
  	.mainCopy h1{width:calc(100% - 2em); font-weight:200;font-size:1.7em;line-height:1.6em;padding:0px 1em 40px;}

 	#main01{ height: 30px; }
	#main02{ height: 195px; }
	#main07{ height: 200px; }
	#main03{ height: 158px; }
	#main08{ height: 158px; }
	#main06{ height: 158px; }
	#main04{ height: 130px; }
	#main10{ height: 195px; }
	#main05{ height: 190px; }

  	article{width:100%;padding-top: 1em;margin-top: 0px}
  	article p, article h2, article h4, article ul{padding: 1em 1em 0em;}
  	article h4 {padding: 1em 0.em 0em;}
  	article table{margin: 1em 1em 0em; width:calc(100% - 2em);}
  	article h4{padding-top: 1em;padding-bottom: 1.5em;}
  	article h2{padding-top: 1em;padding-bottom: 1.5em;}
  	footer{width:100%;}
  	footer hr{margin:1em 0px;}

	.col1{width:calc(100% - 2em);padding: 0px 1em;}
	.col2{width:calc(100% - 2em);padding: 0px 1em;}

}

/* Tablet */
@media all and (min-width: 601px) and (max-width: 799px){
	header{  }
	nav{width:100%;}

	#main01{ height: 30px; }
	#main02{ height: 300px; }
	#main07{ height: 400px; }
	#main03{ height: 278px; }
	#main08{ height: 278px; }
	#main06{ height: 280px; }
	#main04{ height: 235px; }
	#main10{ height: 300px; }
	#main05{ height: 340px; }

	article {width:100%; margin-top: 20px;}
	.mainCopy h1{width:100%;}
	article p, article h2, article ul{padding-left: 44px;padding-right: 44px;}
	article table{margin: 1em 44px; width:calc(100% - 88px);}
	footer{width:100%;}
	.col1{width:calc(100% - 44px);padding-left: 44px;}
	.col2{width:calc(100% - 44px);padding-left: 44px;}
}

